@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* #000000 */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 10%; /* #1A1A1A */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 216 100% 74%; /* #7AB0FF */
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 70%;
    --accent: 28 87% 55%; /* #F27121 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 17%; /* #2C2C2C */
    --input: 0 0% 17%;
    --ring: 216 100% 74%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .main-tabs-list {
    @apply bg-transparent p-0 justify-start;
  }
  .main-tabs-trigger {
    @apply data-[state=active]:bg-primary/10 data-[state=active]:text-primary-foreground data-[state=active]:shadow-none text-muted-foreground transition-all duration-300;
  }
}
