@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 13% 5%; /* #0B0B0E */
    --foreground: 240 3% 95%; /* #F1F1F2 */
    --card: 220 14% 10%; /* #16181D */
    --card-foreground: 240 3% 95%;
    --popover: 240 13% 5%;
    --popover-foreground: 240 3% 95%;
    --primary: 229 48% 65%; /* #7487D3 */
    --primary-foreground: 240 3% 95%;
    --secondary: 227 25% 61%; /* #8D9ED8 */
    --secondary-foreground: 240 3% 95%;
    --muted: 228 9% 10%; /* #1C1E23 */
    --muted-foreground: 240 3% 63%;
    --accent: 229 48% 65%; /* #7487D3 */
    --accent-foreground: 240 3% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 15% 19%; /* #2B2F38 */
    --input: 223 15% 19%;
    --ring: 229 48% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .main-tabs-list {
    @apply bg-transparent p-0 justify-start;
  }
  .main-tabs-trigger {
    @apply data-[state=active]:bg-primary/10 data-[state=active]:text-primary-foreground data-[state=active]:shadow-none text-muted-foreground transition-all duration-300;
  }
}
